@import url('./cardlayout.css');
@import url('./container.css');
@import url('./flexbox.css');


h1,h2,h3,h4,h5,h6{
  border: none !important;
}

  .blog-title{
      margin-top: 10px;
      text-align: center;
  }

  h6{
      color: dodgerblue;
  }
  .post-title{
      font-size: xx-large;
      
  }
  .subscription-text{
    text-decoration: underline;
    color: gray;
    margin-top: 30px;
    margin-left: 320px;
  }
footer{
  background-color: rgb(223, 221, 221);
  width: 100%;
  height: 200px;
  opacity: 0.8;
}