* {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    text-align: center;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 40%;
}

input {
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    box-shadow: 0 0 3px gray;
    border: none;
    font-size: medium;
}

button {
    padding: 12px;
    font-size: large;
    color: #fefefe;
    border: none;
    border-radius: 5px;
    width: 42%;
}
button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
    outline: 2px dotted transparent;
    outline-offset: 2px;
}
i {
    background-color: dodgerblue;
    border-radius: 3px;
    padding: 3px;
    opacity: 0.9;
    color: #ffffff;
}
.header-text {
    color: red;
}
#app {
    margin: 0 -5px;
}

#app:after {
    content: "";
    display: table;
    clear: both;
}
