#title{
    text-align: center;
}

form {
    display: inline-block;
}

body {
  text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 0 0 6px skyblue;
}

input[type=text]{
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    border: groove;
}

input[type=number]{
    width: 98%;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    border: groove;
}

input[type=email]{
    width: 98%;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    border: groove;
}

input[type=password]{
    height: 30px;
    border-radius: 5px;
    padding: 2px;
    border: groove;
}

#agree{
    display: flex;
}

#terms{
    margin-left: auto;
    display: flex;
    font-size: xx-small;
}

#register{
    background-color: rgba(6, 128, 243, 0.808);
    color: white;
    border-radius: 5px;
    padding: 2px;
    width: 20px;
    border: rgba(6, 128, 243, 0.808);
}

#register-button{
    background-color: rgba(6, 128, 243, 0.808);
    color: white;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    border: rgba(6, 128, 243, 0.808);
}

#sign-in{
    background-color: rgba(77, 182, 28, 0.808);
    width: 100px;
    color: white;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    border: rgba(77, 182, 28, 0.808);
}