a {
    text-decoration:none;
}
/*sign up */
.signup-form{
    width:90%;
    max-width: 500px;
    margin: 0 auto;   
}
.signup-form h1 {
    text-align: center;
}
.signup-form section {
    margin-bottom: 30px;
}
.form-ack, .form-ctrl {
    display: flex;
}
.form-ack {
    justify-content: space-between;
}
.form-ctrl {
    justify-content: space-around;
}
/*form input*/
.form-input div {
    margin: 15px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-input input {
    padding: 5px;
}
.form-input input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
.single-input input{
    width: 100%;
}
.double-input input{
    width: 46%;
}
/*form ack*/
.form-ack-input{
    width: 300px;
}
.form-ack span {
    padding: 5px;
    background-color: rgb(0,161,225);
    color: white;
}
/*form control*/
.form-ctrl button {
    padding:10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
}
.btn-register{
    background-color: rgb(0,161,225);
}
.btn-signin{
    background-color: green;
}