:root {
    --height-header: 60px;
    --color-green: rgb(13, 73, 5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html, 
body {
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.header {
    position: absolute;
    height: var(--height-header);
    background: var(--color-green);
    color: white;
    width: 100vw;
}

.header_search {
    width: 60
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    height: 100%;
    width: 100%;
}

.content__header {
    height: var(--height-header);
}

.card {
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}