[submodule "react-song-search"]
	path = react-song-search
	url = https://github.com/FaBioLeeNA/react-song-search.git
[submodule "WebsiteTemplate"]
	path = WebsiteTemplate
	url = https://github.com/FaBioLeeNA/WebsiteTemplate.git
[submodule "exam2"]
	path = exam2
	url = https://github.com/FaBioLeeNA/WebsiteTemplate.git
