.header-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  color: white;
}

.nav > a {
  font-size: 20px;
  padding: 5px;
  margin: 20px;
  cursor: pointer;
}
