
.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  //line-height: $btn-font-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
}
