/* --------------NAV------------------------------------- */
nav {
  width: 100%;
}

#nav-ul {
  margin: 0;
  padding: 0;
  display: flex;
}

h1 {
  font-size: 1.7em;
}

#nav-ul li:first-child {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#nav-ul li:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

#nav-ul li:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li img {
  width: 25px;
  height: 25px;
}
