@import url('./CSS/nav.css');
@import url('./CSS/footer.css');
@import url('./CSS/form-searchBar.css');
@import url('./CSS/Page-Home.css');
@import url('./CSS//Page-Item.css');
@import url('./CSS/form-listControl.css');

body {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
    margin:0;
}

a {
    text-decoration: none;
}

a:hover{
    color: rgb(0, 94, 0);
    font-weight: bold;
}

ul{
    list-style: none;
    padding-left: 0;
}

main {
    margin-top: 125px;
}
section {
    margin-bottom: 40px;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}