@import '../../../styles/base';
@import '../../../styles/button';

.hero-section {
  color: white;
  z-index: 101;
  .dark-layer {
    background-color: #0f0a14;
    opacity: 0.9;
    z-index: 2;
  }

  .hero-section__intro {
    font-size: 2.5rem;
    margin-top: 30vh;
    margin-bottom: 0;
  }

  .hero-section__name {
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
  }

  .hero-section__jobtitle {
    font-size: 3rem;
  }
}

.aboutme-section {

    .white-layer {
        background-color: rgb(212, 200, 200);
        opacity: 0.9;
        z-index: 2;
      }
      
    .aboutme-section__intro {
        font-size: 3rem;
        margin-top: 50px;
    }

    .aboutme-section__subintro {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .aboutme-section__header {
        font-size: 2rem;
        margin-top: 70px;
    }

    .aboutme-section__text {
        font-size: 1.1rem;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

