:root {
  --height-header: 60px;
  --height-todolist-header: 50px;
  --height-todolist: 300px;
  --height-todolist-item: 40px;

  --width-todolist: 400px;
  --width-todolist-item-title: 380px;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  --color-primary: aqua;
  --color-secondary: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--color-primary);
  height: var(--height-header);
}

.content {
  /* padding-top: var(--height-header);
  height: 100%; */
  margin-top: var(--height-header);
  height: calc(100% - var(--height-header));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--height-todolist);
}

.todolist {
  height: var(--height-todolist);
  width: var(--width-todolist);
  box-shadow: var(--box-shadow);
}

.todolist__header {
  height: var(--height-todolist-header);
  text-align: center;
  line-height: var(--height-todolist-header);
}

.heading {
  color: var(--color-primary);
  font-size: 30px;
}

.todolist__input {
  width: 100%;
  height: var(--height-todolist-item);
  padding: 5px;
  font-size: 25px;
  outline: none;
  color: var(--color-secondary);
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  text-align: center;
}

.todolist__content {
  list-style-type: none;
  height: calc(
    var(--height-todolist) - var(--height-todolist-header) -
      var(--height-todolist-item)
  );

  overflow: auto;
}

.todolist__content-item {
  height: var(--height-todolist-item);
  font-size: 20px;
  color: var(--color-secondary);
  line-height: var(--height-todolist-item);
  position: relative;
}

.todolist__content-item:hover {
  box-shadow: var(--box-shadow);
}

.todolist__content-item span {
  text-align: center;
  width: var(--width-todolist-item-title);
  display: inline-block;
  height: var(--height-todolist-item);
}

.todolist__content-item .btn-remove {
  border: none;
  background-color: white;
  color: var(--color-primary);
  position: absolute;
  right: 15px;
  top: 12px;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}
