/* varaibles */
:root {
  --color-header: #008080;
  --color-primary: #4285f4;
  --color-primary-dark: #0d47a1;
  --color-success: #00c851;
  --color-success-dark: #007e33;
  --color-grey: #ddd8db;
  --color-grey-dark: #3d3d3d;
  --color-white: #f8f8f8;
  --color-background: #f0f0f0;
  --color-grey-btn: #7a7a7a;
  --color-subscribe-btn: #f50d0d;
  --color--hero-section: #fdeed7;
  --color--header: #090b60;
  --color-read-article: #f50d0d;
  --color-blue-border: #4e90fa;
}
/* CSS normalization */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--color-background);
  min-height: 100rem;
  position: relative;
  min-height: minmax(100rem, auto);
  font-family: "Montserrat", sans-serif;
}

/*  */
.header {
  background-color: var(--color-header);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  background-color: var(--color-white);
  height: 3rem;
  display: flex;
  width: 25%;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.searchbar:focus {
    transform: scaleX(1.5);
}

.searchbar__input {
  height: 2rem;
  width: 95%;
  border: none;
}

.searchbar__input:focus {
  border: none;
  width: 95%;
}

.searchbar__search-icon {
  height: 1.5rem;
  color: var(--color-header);
}

.report {
    text-align: center;
    margin-top: 2rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-header);
}
/*  card */
.card {
    /*width: calc(1/8 * 100%);*/
    height: auto;
    min-height: 20rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: var(--color-grey);
    border: 1px solid var(--color-header);
    border-radius: 5px;
    /*  display */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__image {
    width: 11rem;
    height: 11rem;
}

.card__caption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
    min-height: auto;
    padding-bottom: 1rem;
    font-weight: 600;
    padding: 0 1rem;
    width: 11rem;
    
}