footer{
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    padding-top: 30px;
}

.copyright{
    font-weight: normal;
}