*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.blog-content-box {
  margin: auto;
}

.blog-sub,
.blog-title,
.blog-search {
}

.blog-sub {
  color: rgb(197, 197, 197);
  text-decoration: underline;
}

.blog-blog {
  text-decoration: underline;
}

.blog-content-left-cate {
  color: rgb(51, 103, 216);
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem 15px;
}

.blog-content-right-cate {
  color: rgb(48, 231, 48);
  margin: 1rem 0 0.5rem 15px;
}

.blog-content-left-t,
.blog-content-right-t {
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 15px;
}

.blog-content-left-con,
.blog-content-right-con {
  font-size: 1.3rem;
  margin: 5px 0 0 15px;
}

.blog-content-left-d,
.blog-content-right-d {
  color: rgb(151, 150, 150);
  margin-left: 15px;
}

.blog-content-left-link,
.blog-content-right-link {
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 15px;
  font-size: 1.3rem;
}

.blog-content-left,
.blog-content-right {
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: rgb(209, 209, 198);
  margin: 2rem;
}

.footer {
  height: 9rem;
  background-color: rgb(226, 222, 222);
  text-align: center;
}

.footer-para {
  padding: 2rem 0 0 0;
  margin: 2rem 0 2rem 0;
  font-size: 1.3rem;
}

@media screen and (max-width: 800px) {
  table tr {
    display: block;
    text-align: center;
  }

  table td {
    display: block;
  }
}
