main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex end;
  margin: 10px;
  width: 40%;
  min-width: 20em;
  min-height: 10em;
  border: solid 3px #ddd;
  position: relative;
  padding: 15px;
  box-shadow: 5px 5px 5px #ddd;
}

.card .cate-name {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 1.3em;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.card h2 {
  font: bold;
  font-size: 1.7em;
}

.card .date {
  color: gray;
}

.card .more {
  position: absolute;
  bottom: 5%;
}