@import '../../../styles/base';
@import '../../../styles/button';


.contact {
    background-color: rgb(56, 56, 56);
    padding: 50px 0;
    color: white;

    .contact-section__intro {
        font-size: 3rem;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .contact-section__subintro {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .contact-section__header {
        font-size: 2rem;
        margin-top: 70px;
    }

    .contact-section__text {
        font-size: 1.1rem;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .contact-section__form-title {
        font-size: 1.5rem;
    }

    .contact-section__form-input {
        padding: 10px 0;
        width: 100%;
    }
}