$font-stack:    Helvetica, sans-serif;

//grey paletter
$primary-color: #333;
$light-grey: #4E4F50;
$white: rgb(255, 255, 255);

// height
$height-ul: 50px;

//padding margin
.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-60 {
    padding-top: 60px;
}