$font-stack: Helvetica, sans-serif;

//grey paletter
$primary-color: #333;
$light-grey: #4e4f50;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// height and width
$height-ul: 50px;

// for navbar
$navbar-height: 60px;

// for icon
$icon-height: 50px;
$icon-width: 50px;

//padding margin
.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
  }
// padding right
.pr-60 {
    padding-right: 60px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-40 {
    padding-right: 40px;
}

// padding left
.pl-60 {
    padding-left: 60px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-40 {
    padding-left: 40px;
}
//size 
.w-40 {
    width: 40px;
}

.h-40 {
    height: 40px;
}

.w-60 {
    width: 60px;
}

.h-60 {
    height: 60px;
}
// center
.text-center {
    text-align: center;
}
// mixin
@mixin centerEl {
  display: flex;
  align-items: center;
}
