/*.luvtalk-project, .personal-website-project, .strike-zone-project, .resume {border: 3px solid white;}*/
.card-content{
  min-height: 200px;
}
.luvtalk-project {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(../../../assets/images/luvtalklogo.png);
    background-position: center center;
    padding: 50px;
    
  }
  
  .personal-website-project {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(../../../assets/images/logo.svg);
    background-position: center center;
    padding: 50px;
    
  }
  
  .strike-zone-project {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(../../../assets/images/mlbproject.png);
    background-position: center center;
    padding: 50px;
    
  }