@import '../../styles/base';

// position -> display -> height/ width -> margin/ padding -> font -> background
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    width: 100vw;
    padding-right: 40px;
    padding-left: 20px;

    .navbar__logo {
        display: inline-block;
        height: 44px;
    }

    .navbar__list {
        list-style-type: none;
        @include centerEl;
        height: 100%;
        margin: 0;
    }

    .navbar__list-item {
        @include centerEl;
        height: 35px;
        margin: 0 30px;
        font-size: 1.1rem;
        line-height: 1.2rem;
        color: white;
    }

    .navbar__list-item:hover {
        text-decoration: underline;
    }
}