@import "../../styles/base";
@import "../../styles/button";

.footer-section {
  color: $white;
  background-color: $black;

  .icon {
    width: $icon-width;
    height: $icon-height;
    background-color: $light-grey;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 50px;
  }

  .icon:hover {
    background-color: white;
  }

  .footer-section__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-section__list-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .footer-section__list a {
    color: $white;
  }

  @media only screen and (max-width: 600px) {
    .icon {
      width: 200px;
      height: 20px;
    }
  }
}
