
aside {
    float: right;
    width: 25%;
}

aside hr {
    margin-top: 20px;
}

h2 {
    padding-top: 20px;
}

aside p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding-top: 10px;
}

aside ul {
    padding-top: 20px;
}

aside ul li {
    font-size: 1.1rem;
    line-height: 1.6rem;
    list-style: none;
}