@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    max-width: 900px;
    margin: auto;
    font-family: 'Lora', serif;
}

.container {
    padding: 20px;
    box-sizing: border-box;
}

.container-row {
    display: flex;
    width: 90%;
    padding: 30px;
}

.container-box1 {
    border-width: 5px;
    border-style: groove;
    border-radius: 10px;
    width: 370px;
    transition: box-shadow .3s;   
    margin: 5px;
    padding-bottom: 10px;
}

.container-box2 {
    border-width: 5px;
    border-style: groove;
    border-radius: 10px;
    width: 370px;
    transition: box-shadow .3s;
    margin: 5px;
    padding-bottom: 10px;
}

[class^="container-box"]:hover {
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#typeWorld {
    margin: 10px 30px 5px 30px;
    color: blue;
    font-weight: bold;
}

#typeDesign {
    margin: 10px 30px 5px 30px;
    color: green;
    font-weight: bold;
}

#title {
    margin: 0 30px 5px 28px;
    font-size: 30px;
}

#date {
    margin: 3px 30px 5px 30px;
    color: grey;
}

#description {
    margin: 15px 30px 20px 30px;
}

#reading {
    margin: 40px 30px 20px 30px;
    text-decoration: none;
}

.container a:visited {
    color: black;
}