@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Oswald:wght@200&display=swap');

footer {
    display: flex;
    text-align: center;
    background-color: #f8f8ff;
    display: inline-block;
    width: 100%;
    font-family: 'Orelega One', cursive;
    padding: 10px;
}

footer p {
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
    padding: 0 20px 10px 10px;
}

footer a:visited {
    color: black;
}