@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Oswald:wght@200&display=swap');

header {
    max-width: 900px;
    display: flex;  
    align-items: center;
    padding: 20px;
    margin: auto;
    font-family: 'Orelega One', cursive;
}

header a {
    padding: 20px;
    text-decoration: none;
}

#subscribe {
    width: 20%;
    float: left;
}

header h1 {
    width: 50%;
    text-align: center;
}

img {
    width: 30px;
    height: 30px;
    padding: 20px;
}

header a:visited {
    color: black;
}