.container{
    /* position: fixed; */
    width:100%;
    /* top:50%; */
    /* left:50%; */
    /* transform: translate(-50%, -50%); */
    padding-top: 6rem;
    display: flex;
}

.blog-container {
    max-width: 110rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 3rem 10rem;
}

.blog-container__header,
.blog-row,
.blog-container__footer {
    display: flex;
    flex:1 1 100%;
    margin:1px;
}

.blog-container__header {
    padding:1rem;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-item {
    flex: 1;
}

.header-subscribe {
    text-align: left;
}

.header-subscribe a {
    color: var(--color-grey-dark);
}

.header-headding {
    text-align: center;
    text-decoration: underline;
}

.mag-glass {
    text-align: right;
}

.mag-glass-img {
    width: 1.4em;
    height: 1.4em;
}

.post-wrapper {
    margin: 1rem;
    padding: 1.5rem;
    border:2px solid var(--color-grey);
    flex:1 1 100%;
}

.badge__blue {
    font-weight: bolder;
    color: var(--color-blue);
}

.badge__green {
    font-weight: bolder;
    color: var(--color-green);
}

.navigation {
    background-color: #444444;
}

.navigation li {
    display: inline;
    font-weight: bolder;
    padding: 1rem 2rem;
}

.navigation li a {
    color: white;
}

.navigation li a:hover {
    color: var(--color-grey-light);
}

.post-category {
    margin-bottom: 1rem;
}

.post-title {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 0;
}

.post-date {
    font-weight: bolder;
    font-size: 1.4rem;
    color: var(--color-grey-dark);
    margin-bottom: 1rem;
}

.post-description {
    height: 6rem;
    font-size: 1.4rem;
}

.post-continue a {
    color: var(--color-blue);
}

.blog-container__footer {
    margin: 2rem 0;
    flex-direction: column;
    background-color: var(--color-white-dark);
    padding: 2rem 0;
}

.footer-row {
    flex: 1 1 100%;
}

.footer-item {
    text-align: center;
    margin-top: 2rem;
}

@media (max-width:900px) {
    .blog-row {
        flex-direction: column;
    }

    .blog-container {
        padding: 1rem;
    }
}