@import url(https://fonts.googleapis.com/css?family=New+Tegomin);

.header{
    width: 100%;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(181, 164, 187);
}
.header li{
    float: left;
}
.header li a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'New Tegomin', serif;
    color: white;
}
.header li a:hover:not(.active){
    background-color: rgb(224, 209, 230);;
}
