#xbox {
    background-image: url("../resources/images/xbox.webp");
}

#time {
    background-image: url("../resources/images/time.webp");
}

#vbi {
    background-image: url("../resources/images/vbi.webp");
}

#love {
    background-image: url("../resources/images/love.webp");
}