.container {
    max-width: 40em;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin: auto;
}
#card-container{
    position: relative;
    padding-bottom: 6em;

}
.row{
    margin-top: 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}


.card{
    border:2px solid gray;
    box-shadow: 10px 5px 5px #dddddd;
    box-sizing: border-box;
    width: 18em;
    padding: 5px;
    height: 12em;
}
.category{
    font-size: 0.5em;
}

.blue{
    color: deepskyblue;
}
.green{
    color: limegreen;
}
.card-title{
    font-size: 1em;
    font-weight: bold;
}
.card-date{
    font-size: 0.5em;
    color: gray;
}
.card-content{
    height:5em ;
}
.card-foot{
}