.footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
    height: 4em;
}
.header{
    max-width: 40em;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 1em;
    margin: auto;
}
.title{
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

#subscribe {
    display: block;
}

#search{
    width: 20px;
    height: 20px;
    background: url("search.svg") no-repeat;
    background-size: 16px 16px;
    border: none;
}
