
.container {
    display: flex;
    flex-direction: column;
}

.header,
.search-result-container {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 3rem;
    background-color: teal;
    width: 100%;
}

.search-container {
    flex: 1 1 100%;
    display: flex;
    background-color: white;
    padding: 0.3rem 1.2rem;
    border-radius: 15px;
    width: 100%;
    max-width: 60rem;
}

/* .search,
.search-img {

} */

button {
    background-color: white;
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
    border: none;
    width: 55rem;
}

.mag-glass-img {
    height:2rem;
    width: 2rem;
}

.search-result-container {
    padding: 1rem 1rem 1.5rem;
    flex-direction: column;
}

h2 {
    color: var(--color-grey-dark);
}

.search-result-hr {
    background-color: teal;
    width: 80%;
    height: 3px;
}

.card-container {
    display: flex;
    flex: 1 1 100%;
    padding: 2rem 20rem 1rem;
}

.card-wrapper {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 1.2rem;
}

.card-item {
    width: 11rem;
    height: 16rem;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    background-color: var(--color-white-dark);
    border: solid 1px;
}

.card-img,
.card-title {
    flex: 1 1 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card-img img {
    width: 9rem;
    height: 9rem;
    padding: 1rem;
}

.card-title {
    padding: 1rem 0;
}