@import url(./root.css);

.text-light {
    color: var(--color-light);
}

.text-dark {
    color: var(--color-dark);
}

.text-primary {
    color: var(--color-primary);
}

.text-success {
    color: var(--color-success);
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/* Background */

.bg-superlight {
    background-color: var(--color-super-light);
}
.bg-ultralight {
    background-color: var(--color-ultra-light);
}

/* List */

.list-undecorated {
    list-style-type: none;
}