footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
  background-color: var(--background-grey-color);
  color: var(--font-grey-color);
  height: 5em;
}