/* Variables */
@import url('./variables.css');

/* CSS Reset */
@import url('./reset.css');

@import url('./nav.css');
@import url('./footer.css');
@import url('./blog.css');

.main-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 800px;
  margin: auto;
}

@media (max-width: 800px) {
  .main-container {
    min-width: 300px;
    width: 100%;
  }
}

