nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  background-color: var(--shadow-color);
}

.subscribe {
  text-decoration: underline;
  margin-left: 20px;
}

.header-title {
  text-decoration: underline;
}

.search-button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  color: var(--font-grey-color);
}

.subscribe, .search-button {
  width: 65px;
}