* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

button:focus {
  outline: none;
}

input {
  outline: none;
}

input:hover {
  cursor: pointer;
}

.main-container {
  width: 60%;
  min-width: 800px;
  margin: auto;
}

@media (max-width: 800px) {
  .main-container {
    min-width: 300px;
    width: 100%;
  }
}
