:root {
    --primary: #0275d8;
    --secondary: #5cb85c;
    --highlighted: #292b2c;
    --grayscale: #858383;
    --bg-color:white;
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.grayscale {
    color: var(--grayscale);
}