/* CSS RESET  */
* {
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    }

p, ul, ol, pre {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    }
html, body, div, form, fieldset, legend, label
    {
    margin: 0;
    padding: 0; 
    }
    
table
    {
    border-collapse: collapse;
    border-spacing: 0;
    }
    
th, td
    {
    text-align: left;
    vertical-align: top;
    }
   
img { border: 0; }
    
input, select {vertical-align: middle;}

a {
    color: var(--primary);
    margin: 0.1rem;
}