/* CSS RESETS */
@import 'reset.css';
/* COLORS */
@import 'colors.css';
/* UTILITIES */
@import 'utils.css';
/* GENERAL STYLES */
* {
    /* background-color: #5bc0de; */
}

html {
    background-color: var(--bg-color);  
}

.container {
    width:  1200px;
    margin: 0px auto;
    display: block;
}
.header{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.logo{
    height: 80px;
}

.navbar {
    height: 30px;
    background-color: var(--highlighted);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px .5rem;
    padding-top: .5rem;
}

.main {
    margin-top: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;    
    position: relative;
}

.card {
    border: 2px solid var(--grayscale);
    width: 40%;
    height: 200px;
    margin-bottom: 50px;
    padding: .5rem;
    border-width: 0.25rem;   
    position: relative;
}

.footer {
    height: 40px;
    background-color: gainsboro;
    margin-top: .5rem;
    padding: .2rem;
    flex-direction: column;
    align-items: center;
}
.footer > * {
    margin-bottom: 0;
}

.title {
    font-weight: bold;
}

.blog {
    width: 67%;
    margin-right: 6%;
}

.sidebar {
    width: 27%;
    flex-direction: column;    
}
.sidebar > * {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: .5rem;
}
.sidebar > * :last-child {
    margin-bottom: 0.5rem;
}

.btn-round {    
    border-radius: 1rem;
    border-color: var(--primary);
    height: 2rem;
    font-size: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .2rem;
    margin: .3rem;
    background-color: white;
    
}

.btn-round:focus {
    outline: none;
}
.btn-round:hover {
    background-color: rgb(214, 228, 243);
}

.btn-round:disabled {
    border-color: var(--grayscale);
    color: var(--grayscale);
}
.btn-round:disabled:hover {
    background-color: white;
}

.link-home {
    text-decoration:none;
}

/* RESPONSIVE BREAKPOINTS*/
@media all and (min-width: 0px){ 
    .container {
        width: 500px;
    }
    .card {
        width: 100%;
    }

}

@media all and (min-width: 576px){ 
    .container {
        width: 450px;
    }
    .card {
        width: 100%;
        height: 150px;
    }

}

@media all and (min-width: 768px) { 
    .container {
        width: 700px;
    }
    .card {
        width: 40%;
        height: 150px;
    }
}

@media all and (min-width: 992px) { 
    .container {
        width: 900px;
    }
    .card {
        width: 40%;
        height: 220px;
        
    }
}

@media all and (min-width: 1200px) { 
    .container {
        width: 1200px;
    }
    .card {
        width: 40%;
        height: 250px;
    }
}

